body
	font-family: 'Roboto', sans-serif
	padding: 0
	margin: 0
	background-color: #F9F8FC
h1
	color: #312E2E

p
	padding: 0 10px

input[type='text'], textarea
	$border: 10px
	$rgba: rgba(80, 78, 112, 0.75)
	border: none
	-webkit-border-radius: $border
	-moz-border-radius: $border
	border-radius: $border
	padding: 5px
	-webkit-box-shadow: 2px 1px 16px $rgba
	-moz-box-shadow:    2px 1px 16px $rgba
	box-shadow:         2px 1px 16px $rgba
	outline: none

textarea
	padding: 10px

fieldset
	border-color: #ccc